body {
    background-color:rgb(137, 204, 37);
}
#container {
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    height: 610px;
    width: 1050px;
    display: flex;
    flex-direction: column;
}
#big-image {
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
#th {
    height: 110px;
    display: flex;
    flex-direction: row;
}
#thNames{
    display: flex;
    flex-direction: row;
}
.thName{
    width: 110px;
    margin: 5px 2px 0 2px;
    align-items: center;
    justify-content: center;
    text-align: center;
    /*display: none;*/
}
.thumbnail{
    width: 100px;
    height: 100px;
    margin: 5px 2px 0 2px;
}
.thumbnail:hover {
    width: 110px;
    height: 110px;
}
.thumbnail:hover .thName {
    display: block;
  }
#bal, #jobb {
    margin: 0 30px 0 30px;
    width: 30px;
    height: 45px;
}
#bal:hover, #jobb:hover {
    background-color: white;
}

#jobb {
    transform: rotate(0.5turn);
}
#main-image {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}
#text-container {
    box-sizing: content-box;
    align-items: stretch;
    position: absolute;
    top: 380px;
    height: 120px;
    width: 990px;
    padding: 5px;
    margin: 0;
    opacity: 0.9;
    background-color: darkgrey;
    color: white;
}

#photo-title, #photo-description {
    padding: 0;
    margin: 0;
}

#photo-description{
    font-size: 24px;
}

